
.kinetia-logo{

    margin-top: 3rem;
    margin-bottom: -3rem;
}

.kinetia-footer{

    margin-bottom: 2rem;
    margin-top: -2rem;
}

.text-references{
    color: #dddada;
}

.text-gray-new{

    color: #191717;
}

.input-text-form{
    color: #ffffff;
}

input[type=email].form-control::placeholder,
input[type=text].form-control::placeholder,
select.form-control::placeholder,
textarea.form-control::placeholder{
    color: #ffffff!important;
}